@import "nullstyle.scss";
@import "vars";
//===========================================================

body {
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
   font-weight: 400;
}

.lock {
   overflow-y: hidden;
}

.wrapper {
   overflow: hidden;
   position: relative;
   min-height: 100vh;
}

.container {
   max-width: 1310px;
   padding: 0 15px;
   margin: 0 auto;
}

.line {
   height: 100%;
   width: 65px;
   position: absolute;
   left: 15px;
   top: 0;
   border-right: 1px solid #fff;

   &__text {
      font-size: 30px;
      line-height: 110px/30px * 100%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         width: 11px;
         height: 11px;
         border-radius: 50%;
         border: 1px solid #fff;
         right: -63%;
         color: $blue;
         background-color: #050504;
         top: 50%;
         transform: translateY(-50%);
      }
   }
}

.title {
   font-size: 42px;
   line-height: 58px/42px * 100%;
   text-transform: uppercase;
   font-weight: 600;
}

.btn {
   letter-spacing: 0.1em;
   text-transform: uppercase;
   font-weight: 600;
   color: $blue;
   font-size: 16px;
   line-height: 27px/16px * 100%;
   text-transform: uppercase;
   padding: 12px 22px;
   background-color: #ddd2c2;
   border: 1px solid #1f2c40;
   display: inline-block;
   transition: background-color 0.3s linear;
   @media (min-width: 992px) {
      &:hover {
         background-color: #b99f7b;
      }
   }
}
