<header class="header">
   <div class="container">
      <div class="header__inner">
         <a href="#" class="header__logo">
            <img src="assets/images/header/logo.png" alt="">
         </a>
         <div class="header__right">
            <div data-da=".header__inner, 480, 1" class="header__address">
               Харьков, ул. Пушкинская, 5
            </div>
            <div class="header__burger" id="burger">
               <img src="assets/images/header/burger.svg" alt="burger">
            </div>
         </div>
      </div>
   </div>



</header>